@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
*::selection {
  background: #292929;
  color: #a4a4a4;
}

html {
  overflow-y: hidden;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: auto;
  overflow: hidden;
}
body .ripple {
  background-position: center;
  transition: background 0.8s;
}
body .ripple:hover {
  background: #484848 radial-gradient(circle, transparent 1%, #484848 1%) center/15000%;
}
body .ripple:active {
  background-color: #595959;
  background-size: 100%;
  transition: background 0s;
}
body .ripple.orange:hover {
  background: #ff7e1e radial-gradient(circle, transparent 1%, #ff7e1e 1%) center/15000%;
}
body .ripple.orange:active {
  background-color: #ffa72a;
  background-size: 100%;
  transition: background 0s;
}
body .page-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090707;
  z-index: 99;
}
body .page-loader .dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .page-loader .dank-ass-loader .row {
  display: flex;
}
body .page-loader .arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #ff6d00;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px #ff6d00);
}
body .page-loader .arrow.down {
  transform: rotate(180deg);
}
body .page-loader .arrow.outer-1 {
  animation-delay: -0.0555555556s;
}
body .page-loader .arrow.outer-2 {
  animation-delay: -0.1111111111s;
}
body .page-loader .arrow.outer-3 {
  animation-delay: -0.1666666667s;
}
body .page-loader .arrow.outer-4 {
  animation-delay: -0.2222222222s;
}
body .page-loader .arrow.outer-5 {
  animation-delay: -0.2777777778s;
}
body .page-loader .arrow.outer-6 {
  animation-delay: -0.3333333333s;
}
body .page-loader .arrow.outer-7 {
  animation-delay: -0.3888888889s;
}
body .page-loader .arrow.outer-8 {
  animation-delay: -0.4444444444s;
}
body .page-loader .arrow.outer-9 {
  animation-delay: -0.5s;
}
body .page-loader .arrow.outer-10 {
  animation-delay: -0.5555555556s;
}
body .page-loader .arrow.outer-11 {
  animation-delay: -0.6111111111s;
}
body .page-loader .arrow.outer-12 {
  animation-delay: -0.6666666667s;
}
body .page-loader .arrow.outer-13 {
  animation-delay: -0.7222222222s;
}
body .page-loader .arrow.outer-14 {
  animation-delay: -0.7777777778s;
}
body .page-loader .arrow.outer-15 {
  animation-delay: -0.8333333333s;
}
body .page-loader .arrow.outer-16 {
  animation-delay: -0.8888888889s;
}
body .page-loader .arrow.outer-17 {
  animation-delay: -0.9444444444s;
}
body .page-loader .arrow.outer-18 {
  animation-delay: -1s;
}
body .page-loader .arrow.inner-1 {
  animation-delay: -0.1666666667s;
}
body .page-loader .arrow.inner-2 {
  animation-delay: -0.3333333333s;
}
body .page-loader .arrow.inner-3 {
  animation-delay: -0.5s;
}
body .page-loader .arrow.inner-4 {
  animation-delay: -0.6666666667s;
}
body .page-loader .arrow.inner-5 {
  animation-delay: -0.8333333333s;
}
body .page-loader .arrow.inner-6 {
  animation-delay: -1s;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
body .main {
  height: auto;
  width: 100%;
}
body .main .menu-icon {
  float: left;
  display: flex;
  font-size: 36px;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  body .main .menu-icon {
    height: 64px;
    width: 64px;
  }
}
body .main header.head {
  height: 100vh;
  width: 100%;
  background: #292929;
  position: relative;
  display: block;
}
body .main header.head nav.navigation {
  display: block;
  position: absolute;
  height: 56px;
  width: 100%;
  color: #FFFFFF;
  background: none;
  transition: all 0.5s;
  z-index: 1;
}
@media screen and (min-width: 600px) {
  body .main header.head nav.navigation {
    height: 64px;
  }
}
@media screen and (min-width: 800px) {
  body .main header.head nav.navigation {
    display: none;
  }
}
body .main header.head nav.navigation .inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .main header.head nav.navigation.orange {
  background: #ff6d00;
}
body .main header.head .nav-content {
  width: 100%;
  height: auto;
  z-index: 1;
  background: #ff6d00;
  position: absolute;
  overflow: hidden;
  transition: all 0.5s;
  top: 0;
  clip-path: ellipse(85% 100% at 50% 0%);
}
@media screen and (min-width: 800px) {
  body .main header.head .nav-content {
    display: none;
  }
}
body .main header.head .nav-content.hidden {
  top: -250px;
  clip-path: ellipse(10% 100% at 50% 0%);
}
body .main header.head .nav-content .back-bar {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
body .main header.head .nav-content .inner {
  width: calc(100% - 20px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px 10px;
}
body .main header.head .nav-content .inner ul {
  margin: 0;
  padding: 0;
}
body .main header.head .nav-content .inner ul li {
  list-style: none;
  color: #ffffff;
  font-weight: 200;
  font-size: 20px;
  margin: 0 0 10px;
  letter-spacing: 2px;
}
body .main header.head .desktop-nav {
  display: none;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  color: #ffffff;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  body .main header.head .desktop-nav {
    display: block;
  }
}
body .main header.head .desktop-nav a {
  letter-spacing: 2px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff6d00;
  position: relative;
}
body .main header.head .desktop-nav a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 4px;
  background-color: #ff6d00;
  width: 0;
  transition: width 0.25s;
}
body .main header.head .desktop-nav a:hover:after, body .main header.head .desktop-nav a:focus:after, body .main header.head .desktop-nav a:active:after {
  width: 100%;
}
body .main header.head .header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main header.head .header-content span.name {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.25);
  text-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1050px) {
  body .main header.head .header-content span.name {
    font-size: 6rem;
  }
}
@media screen and (max-width: 800px) {
  body .main header.head .header-content span.name {
    font-size: 4rem;
  }
}
@media screen and (max-width: 575px) {
  body .main header.head .header-content span.name {
    text-align: center;
  }
}
@media screen and (max-width: 300px) {
  body .main header.head .header-content span.name {
    font-size: 2rem;
  }
}
body .main header.head .header-content span.name .flicker {
  color: #ff6d00;
  text-shadow: 0px 0px 15px #ff6d00;
  animation: flicker-text 2s linear 0s infinite;
}
@keyframes flicker-text {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main div.content {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
}
body .main div.content section {
  width: 100%;
  min-height: 100%;
  float: left;
  position: relative;
}
body .main div.content section#contact {
  z-index: 1;
}
body .main div.content section .sticky {
  height: 100%;
  width: 50%;
  float: left;
  position: absolute;
}
@media screen and (max-width: 800px) {
  body .main div.content section .sticky {
    height: auto;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
body .main div.content section .sticky.right {
  float: right;
  right: 0;
}
body .main div.content section .sticky.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
body .main div.content section .sticky.bottom {
  position: absolute;
  bottom: 0;
}
body .main div.content section .sticky.light {
  background-color: #f4f4f4;
}
body .main div.content section .sticky.orange {
  background-color: #ff6d00;
}
body .main div.content section .sticky.dark {
  background-color: #292929;
}
body .main div.content section .sticky .inner {
  display: flex;
  justify-content: center;
  height: 100%;
}
body .main div.content section .sticky .inner h1 {
  font-size: 90px;
  font-family: "Satisfy", cursive;
  color: #ffffff;
  margin: 50vh 0 0 0;
  transform: translateY(-50px);
}
@media screen and (max-width: 800px) {
  body .main div.content section .sticky .inner h1 {
    margin: 2.5px 0;
    transform: translate(0);
    font-size: 42px;
    color: #f4f4f4 !important;
  }
}
body .main div.content section .sticky .inner h1.dark {
  color: #292929;
}
body .main div.content section .scrolling {
  float: right;
  width: calc(50% - 40px);
  padding: 20px;
  background-color: #f4f4f4;
}
@media screen and (max-width: 800px) {
  body .main div.content section .scrolling {
    margin-top: 66px !important;
    width: calc(100% - 40px);
  }
}
body .main div.content section .scrolling.full-height {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1200px) {
  body .main div.content section .scrolling.full-height {
    height: calc(100vh - 192px);
  }
}
@media (min-width: 768px) {
  body .main div.content section .scrolling.full-height {
    height: calc(100vh - 96px);
  }
}
body .main div.content section .scrolling.dark {
  background-color: #292929;
}
body .main div.content section .scrolling.dark h2, body .main div.content section .scrolling.dark p {
  color: #f4f4f4;
}
body .main div.content section .scrolling.left {
  float: left;
}
body .main div.content section .scrolling.padding0 {
  padding: 0;
  width: 50%;
}
@media screen and (max-width: 800px) {
  body .main div.content section .scrolling.padding0 {
    width: 100% !important;
  }
}
body .main div.content section .scrolling.padding0 .image-cart {
  background: none;
  width: 100%;
  height: 400vh;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  cursor: auto;
  user-select: none;
}
body .main div.content section .scrolling.padding0 .image-cart .inner {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 25%;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
}
body .main div.content section .scrolling.padding0 .image-cart .inner h3 {
  margin: 0;
  z-index: 2;
  font-size: 20px;
  color: #292929;
  transition: all 0.5s;
  opacity: 0;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 450px) {
  body .main div.content section .scrolling.padding0 .image-cart .inner h3 {
    font-size: 16px;
  }
}
body .main div.content section .scrolling.padding0 .image-cart .inner .more-info {
  opacity: 0;
  text-decoration: none;
  color: unset;
  display: flex;
  z-index: 2;
  position: relative;
  top: 20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .more-info i {
  color: white;
  font-size: 30px;
  transition: all 0.5s;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .more-info:hover {
  transform: scale(1.3);
}
body .main div.content section .scrolling.padding0 .image-cart .inner .more-info:hover i {
  transform: rotate(45deg);
}
body .main div.content section .scrolling.padding0 .image-cart .inner.passkeep .image {
  background: #ffffff url("/assets/img/PassKeep/passkeep.png") no-repeat center;
  background-size: cover;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.passkeep .container {
  background: #e2e2e2;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.voozzle {
  z-index: 1;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.voozzle .image {
  background: #ffffff url("/assets/img/Voozzle/voozzle.png") no-repeat center;
  background-size: cover;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.voozzle .container {
  background: #0077C9;
  color: white;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.voozzle .container .img {
  color: #f4f4f4 !important;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled {
  position: fixed;
  top: 0;
  left: 50%;
  width: 250%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled {
    width: 500%;
  }
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .image {
  width: 20%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20% - 80px);
  flex-direction: column;
  padding: 40px;
  position: relative;
  user-select: text;
  margin: 0;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container:last-of-type {
  display: none;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container h1 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img {
  user-select: none;
  width: 60%;
  height: auto;
  margin: 20px auto;
  text-decoration: none;
  position: relative;
  color: black;
  display: block;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.voozzlePhone span {
  bottom: 5px;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.voozzlePhone:hover span {
  bottom: -11px;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.googlePlay {
  width: 40%;
  height: auto;
  margin: 20px auto;
  display: flex;
  user-select: none;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.googlePlay span {
  bottom: 5px;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.googlePlay img {
  display: block;
  width: 100%;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img.googlePlay:hover span {
  bottom: -11px;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img:hover span {
  bottom: -30px;
  opacity: 1;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img:hover img {
  filter: grayscale(100%);
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img span {
  position: absolute;
  bottom: -14px;
  opacity: 0;
  display: block;
  text-align: center;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease-in-out;
  width: 100%;
}
body .main div.content section .scrolling.padding0 .image-cart .inner.scrolled .container .img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .container {
  display: none;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: -moz-transform 0.5s;
  -moz-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  position: relative;
  flex-direction: column;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .image.fixed {
  position: fixed;
  left: 0;
  width: 50%;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .image.active h3 {
  text-decoration: underline;
  opacity: 1;
  color: #d4d4d4;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .image.active .more-info {
  opacity: 1;
}
body .main div.content section .scrolling.padding0 .image-cart .inner .image.active .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 1200px) {
  body .main div.content section .scrolling {
    width: calc(50% - 192px);
    padding: 96px;
  }
}
@media (min-width: 768px) {
  body .main div.content section .scrolling {
    width: calc(50% - 96px);
    padding: 48px;
  }
}
body .main div.content section .scrolling .profile {
  border-radius: 50%;
  border: #292929 solid 3px;
  background: url("../img/profile_image_2020.jpg") no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}
@media (min-width: 1200px) {
  body .main div.content section .scrolling .profile {
    margin: 0 auto 96px;
  }
}
@media (min-width: 768px) {
  body .main div.content section .scrolling .profile {
    margin: 0 auto 48px;
  }
}
body .main div.content section .scrolling .textblock {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
body .main div.content section .scrolling h2, body .main div.content section .scrolling p {
  font-family: "Montserrat", sans-serif;
  display: block;
}
body .main div.content section .scrolling h2 a, body .main div.content section .scrolling p a {
  color: #ff6d00;
  font-family: "Montserrat", sans-serif;
}
body .main div.content section .scrolling p.text {
  margin: 25px 0;
  font-size: 13px;
  font-weight: 300;
  white-space: normal;
}
body .main div.content section .scrolling a {
  cursor: pointer;
}
body .main div.content section .scrolling .head {
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  margin: 10px 0 5px;
  letter-spacing: -1px;
}
body .main div.content section .scrolling .head.text-start {
  margin: 3em 0 1.6em;
  font-size: 26px;
}
body .main div.content section .scrolling .info {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 30px;
}
body .main div.content section .scrolling .info .title {
  color: #f4f4f4;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  letter-spacing: 1px;
}
body .main div.content section .scrolling .contact-info {
  font-family: "Montserrat", sans-serif;
}
body .main div.content section .scrolling .contact-info span, body .main div.content section .scrolling .contact-info a {
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
body .main div.content section .scrolling .contact-info .start {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin: 0 0 5px;
  letter-spacing: -1px;
}
body .main div.content section .scrolling .contact-info .email {
  margin: 5px 0;
  font-weight: 500;
}
body .main div.content section .scrolling .contact-info .social {
  position: relative;
  margin: 30px 0;
  display: block;
}
body .main div.content section .scrolling .contact-info .social .linkedin, body .main div.content section .scrolling .contact-info .social .twitter {
  display: inline-block;
  margin: 0 10px 0 0;
  transition: all 0.2s;
}
body .main div.content section .scrolling .contact-info .social .linkedin a, body .main div.content section .scrolling .contact-info .social .twitter a {
  display: block;
}
body .main div.content section .scrolling .contact-info .social .linkedin a img, body .main div.content section .scrolling .contact-info .social .twitter a img {
  max-width: 48px;
  max-height: 48px;
}
body .main div.content section .scrolling .contact-info .social .linkedin:hover, body .main div.content section .scrolling .contact-info .social .twitter:hover {
  transform: scale(1.1);
}
body .main div.content footer.footer {
  width: 100%;
  min-height: 100vh;
  clear: both;
}

/*# sourceMappingURL=main.css.map */
